<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleTV2,1</key>
	<dict>
		<key>BDID</key>
		<string>10</string>
		<key>CPID</key>
		<string>8930</string>
		<key>4.3</key>
		<dict>
			<key>8F305</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/AppleTV/041-0596.20110511.Zz7mC/AppleTV2,1_4.3_8F305_Restore.ipsw</string>
				<key>FirmwareVersion</key>
				<string>iBoot-1072.59</string>
			</dict>
		</dict>
	</dict>
	<key>iPad1,1</key>
	<dict>
		<key>BDID</key>
		<string>2</string>
		<key>CPID</key>
		<string>8930</string>
		<key>4.3.1</key>
		<dict>
			<key>8G4</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-0550.20110325.Zsw6y/iPad1,1_4.3.1_8G4_Restore.ipsw</string>
			</dict>
		</dict>
		<key>4.3.2</key>
		<dict>
			<key>8H7</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-0661.20110414.W9Q8r/iPad1,1_4.3.2_8H7_Restore.ipsw</string>
			</dict>
		</dict>
		<key>4.3.3</key>
		<dict>
			<key>8J3</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-1010.20110503.ScEp3/iPad1,1_4.3.3_8J3_Restore.ipsw</string>
			</dict>
		</dict>
	</dict>
	<key>iPhone2,1</key>
	<dict>
		<key>BDID</key>
		<string>2</string>
		<key>CPID</key>
		<string>8920</string>
		<key>4.3.1</key>
		<dict>
			<key>8G4</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-0549.20110325.ZxP8u/iPhone2,1_4.3.1_8G4_Restore.ipsw</string>
			</dict>
		</dict>
		<key>4.3.2</key>
		<dict>
			<key>8H7</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-0660.20110414.Gwed5/iPhone2,1_4.3.2_8H7_Restore.ipsw</string>
			</dict>
		</dict>
		<key>4.3.3</key>
		<dict>
			<key>8J2</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-1009.20110503.M73Yr/iPhone2,1_4.3.3_8J2_Restore.ipsw</string>
			</dict>
		</dict>
	</dict>
	<key>iPhone3,1</key>
	<dict>
		<key>BDID</key>
		<string>0</string>
		<key>CPID</key>
		<string>8930</string>
		<key>4.3.1</key>
		<dict>
			<key>8G4</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-0551.20110325.Aw2Dr/iPhone3,1_4.3.1_8G4_Restore.ipsw</string>
			</dict>
		</dict>
		<key>4.3.2</key>
		<dict>
			<key>8H7</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-0662.20110414.byQ84/iPhone3,1_4.3.2_8H7_Restore.ipsw</string>
			</dict>
		</dict>
		<key>4.3.3</key>
		<dict>
			<key>8J2</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-1011.20110503.q7fGc/iPhone3,1_4.3.3_8J2_Restore.ipsw</string>
			</dict>
		</dict>
	</dict>
	<key>iPhone3,3</key>
	<dict>
		<key>BDID</key>
		<string>6</string>
		<key>CPID</key>
		<string>8930</string>
		<key>4.2.6</key>
		<dict>
			<key>8E200</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-0177.20110131.Pyvrz/iPhone3,3_4.2.6_8E200_Restore.ipsw</string>
			</dict>
		</dict>
		<key>4.2.7</key>
		<dict>
			<key>8E303</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-0614.20110414.B47xa/iPhone3,3_4.2.7_8E303_Restore.ipsw</string>
			</dict>
		</dict>
		<key>4.2.8</key>
		<dict>
			<key>8E401</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-1022.20110503.5g8k7/iPhone3,3_4.2.8_8E401_Restore.ipsw</string>
			</dict>
		</dict>
	</dict>
	<key>iPod2,1</key>
	<dict>
		<key>BDID</key>
		<string>0</string>
		<key>CPID</key>
		<string>8720</string>
		<key>4.2.1</key>
		<dict>
			<key>8C148</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/061-9855.20101122.Lrft6/iPod2,1_4.2.1_8C148_Restore.ipsw</string>
			</dict>
		</dict>
	</dict>
	<key>iPod3,1</key>
	<dict>
		<key>BDID</key>
		<string>2</string>
		<key>CPID</key>
		<string>8922</string>
		<key>4.3.1</key>
		<dict>
			<key>8G4</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-0552.20110325.Yt67u/iPod3,1_4.3.1_8G4_Restore.ipsw</string>
			</dict>
		</dict>
		<key>4.3.2</key>
		<dict>
			<key>8H7</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-0667.20110414.95hVL/iPod3,1_4.3.2_8H7_Restore.ipsw</string>
			</dict>
		</dict>
		<key>4.3.3</key>
		<dict>
			<key>8J2</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-1021.20110503.8Lfs1/iPod3,1_4.3.3_8J2_Restore.ipsw</string>
			</dict>
		</dict>
	</dict>
	<key>iPod4,1</key>
	<dict>
		<key>BDID</key>
		<string>8</string>
		<key>CPID</key>
		<string>8930</string>
		<key>4.3.1</key>
		<dict>
			<key>8G4</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-0545.20110325.We3Rt/iPod4,1_4.3.1_8G4_Restore.ipsw</string>
			</dict>
		</dict>
		<key>4.3.2</key>
		<dict>
			<key>8H7</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-0666.20110414.3QvM1/iPod4,1_4.3.2_8H7_Restore.ipsw</string>
			</dict>
		</dict>
		<key>4.3.3</key>
		<dict>
			<key>8J2</key>
			<dict>
				<key>URL</key>
				<string>http://appldnld.apple.com/iPhone4/041-1015.20110503.d7i57/iPod4,1_4.3.3_8J2_Restore.ipsw</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
