Package: org.chronic-dev.loader
Name: Loader
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: Nicolas Haunold
Author: Nicolas Haunold
Section: Utilities
